body{
    background-color: #fff;

}

.display{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
}

.button{
    background-color: transparent;
    color: red;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid red;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

div{
    text-align: center;
}

.button:hover{
    background-color: red;
    color: #fff;
}





.side-nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}

.wrapper{
    background-color: #333;
    height: 100vh;
    width: 75px;
}

.three-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #f2f2f21e;
}

.button-acc{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f21e;

    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
}

.button-acc:hover svg{
    fill: rgb(0, 89, 255);
}

.button-acc:hover .red{
    fill: red;
}

.nav-bloc{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f21e;

    color: #f2f2f2;
    font-size: 20px;
}

.nav-bloc:hover svg{
    fill: greenyellow;
}

.sub-nav{
    width: 200px;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: #333;
    color: #FFF;
    transform: translateX(-100%);
    transition: transform 0.35s ease-in-out;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.nav-bloc:hover .sub-nav{
    transform: translateX(75px);
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    font-size: 20px;
    top: 0;
    left: 0;
}

.text-center{
    text-align: center;
}

.a{
    display: inline-block;
    color: #f2f2f2;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.2s ease-in-out;
}

.a:hover{
    color: orange;
    font-weight: bold;;
}

.r{
    display: inline-block;
    color: #f2f2f2;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.2s ease-in-out;
}

.r:hover{
    color: red;
    font-weight: bold;
}

.nav-bloc-p{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f21e;

    color: #f2f2f2; 
    font-size: 20px;
}

.nav-bloc-p:hover svg{
    fill: burlywood;
}

.sub-nav-p{
    width: 200px;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: #333;
    color: #FFF;
    transform: translateX(-100%);
    transition: transform 0.35s ease-in-out;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.nav-bloc-p:hover .sub-nav-p{
    transform: translateX(75px);
}

.dot{
    border-radius: 50%;
    margin: 10px 3px;
    width: 10px;
    height: 10px;
    background-color: white;
    animation: loader infinite 0.5s alternate;
}

.d2{
    animation-delay: 0.1s;
}

.d3{
    animation-delay: 0.15s;
}

@keyframes loader{
    100%{
        transform: translateY(-10px);
        background-color: rgb(0, 89, 255);
    }
}

svg{
    height: 40px;
    fill: #fff;
    transition: all 0.2s ease-in-out;
}